<ul class="pagiantion">
    <% if (page.prev){ %>
        <li class="previous"><a href="<%- config.root %><%- page.prev_link %>"><%- __('prev')%></a></li>
    <% } %>
    <% if (page.next){ %>
        <li class="next"><a href="<%- config.root %><%- page.next_link %>"><%- __('next')%></a></li>
    <% } %>
</ul>